build
dist
builddir

# Ignore downloaded or built subprojects
**/subprojects/*
# but specifically allow configuration files
!**/subprojects/meson.build
!**/subprojects/*.wrap
!**/subprojects/.gitignore
!**/subprojects/packagefiles/

.vscode
__pycache__
.coverage
coverage/
coverage*
adapters
catch2.wrap
uv.lock
src/mm_test_adapters/_version.py
src/mm_test_adapters/libs/*
src/mmCoreAndDevices
*.egg-info/
